<%= form_for @employee, url: wizard_path, method: :put, class: "space-y-8" do |f| %>
  <div class="flex items-center justify-center mx-auto p-8 bg-white my-10">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
      <progress value="3" max="3" class="mb-4 w-full h-3 [&::-webkit-progress-bar]:rounded-lg [&::-webkit-progress-value]:rounded-lg   [&::-webkit-progress-bar]:bg-gray-200 [&::-webkit-progress-value]:bg-blue-500 [&::-moz-progress-bar]:bg-blue-500"></progress>
      <h2 class="text-2xl font-semibold text-center">Select Your Coach</h2>
      <div class="mt-6">
        <%= f.select :coach_id, options_from_collection_for_select(@coaches || [], :id, :name), { prompt: "Select a Coach" }, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500", required: true %>
      </div>

      <div class="mt-6">
        <%= f.label :phone_number, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :phone_number, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500", required: true %>
      </div>
      <div class="mt-6">
        <%= f.label :gender, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :gender, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500", required: true %>
      </div>

      <div class="mt-6">
        <%= f.label :nickname, "Preferred Name", class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :nickname, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500", required: true %>
      </div>

      <div class="mt-6 flex justify-between">
        <%= link_to "Previous", previous_wizard_path, class: "px-6 py-2 text-indigo-700 rounded-md focus:outline-none" %>
        <%= f.submit "Finish", class: "px-6 py-2 text-white bg-indigo-600 hover:bg-indigo-700 rounded-md focus:outline-none" %>
      </div>
  </div>
<% end %>
