<%= form_with(model: @user, url: coaches_path, local: true) do |form| %>
  <div class="max-w-3xl mx-auto p-8 bg-white  my-10">
    <h2 class="text-3xl font-bold text-center text-gray-900 mb-6">Coach Sign Up</h2>

    <div class="mb-4">
      <%= form.label :name, class: "block text-gray-700 font-medium" %>
      <%= form.text_field :name, class: "w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Enter your name" %>
    </div>

    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 font-medium" %>
      <%= form.email_field :email, class: "w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Enter your email address" %>
    </div>

    <div class="mb-4">
      <%= form.label :password, class: "block text-gray-700 font-medium" %>
      <%= form.password_field :password, class: "w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Choose a password" %>
    </div>

    <div class="mb-4">
      <%= form.label :password_confirmation, class: "block text-gray-700 font-medium" %>
      <%= form.password_field :password_confirmation, class: "w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500", placeholder: "Confirm your password" %>
    </div>

    <div class="mb-4">
      <%= form.submit "Sign Up as Coach", class: "w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 cursor-pointer" %>
    </div>
  </div>
<% end %>


