<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Growth Circle" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-xl p-4 mt-4 rounded-lg bg-green-100 text-green-800 shadow-lg z-50">
        <div class="flex items-center">
          <span class="font-semibold mr-2">Success:</span>
          <p class="text-sm"><%= flash[:notice] %></p>
        </div>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
