<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @company.name %> - Programs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <div class="flex flex-col h-screen">
    <% if flash[:notice] %>
      <div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-xl p-4 mt-4 rounded-lg bg-green-100 text-green-800 shadow-lg z-50">
        <div class="flex items-center">
          <span class="font-semibold mr-2">Success:</span>
          <p class="text-sm"><%= flash[:notice] %></p>
        </div>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-xl p-4 mt-4 rounded-lg bg-red-100 text-red-800 shadow-lg z-50">
        <div class="flex items-center">
          <span class="font-semibold mr-2">Alert:</span>
          <p class="text-sm"><%= flash[:alert] %></p>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col h-screen">
      <header class="bg-green-600 text-white h-16 flex items-center">
        <div class="container mx-auto flex justify-between items-center px-4">
          <div class="text-2xl font-bold">
            <a href=<%=company_programs_path(@company.slug)%>>
              <%= @company.name %>
            </a>
          </div>
        </div>
      </header>

      <main class="flex-1 overflow-y-auto">
        <%= yield %>
      </main>

      <footer class="bg-gray-800 text-white h-16 flex items-center py-12">
        <div class="container mx-auto text-center">
          <p>&copy; <%= Time.current.year %> <%= @company.name %>. All rights reserved.</p>
        </div>
      </footer>
  </div>
  
</body>
</html>
