<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Growth Circle" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="fixed top-0 left-1/2 transform -translate-x-1/2 w-full max-w-xl p-4 mt-4 rounded-lg bg-green-100 text-green-800 shadow-lg z-50">
        <div class="flex items-center">
          <span class="font-semibold mr-2">Success:</span>
          <p class="text-sm"><%= flash[:notice] %></p>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col h-screen">
      <header class="bg-blue-600 text-white h-16 flex items-center">
        <div class="container mx-auto flex justify-between items-center px-4">
          <div class="text-2xl font-bold">
            <a href="/" class="hover:text-gray-200">Growth Circle</a>
          </div>
          <nav>
            <ul class="flex space-x-6">
              <li><a href="/about" class="hover:text-gray-200">About</a></li>
              <% if current_user %>
                  <li><%= link_to 'Sign Out', destroy_user_session_path, data: { "turbo-method": :delete }, class: "hover:text-gray-200" %></li>
              <% else %>
                  <li><%= link_to 'Login', user_session_path, method: :delete, class: "hover:text-gray-200" %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </header>

      <main class="flex-1 overflow-y-auto">
        <%= yield %>
      </main>

      <footer class="bg-gray-800 text-white h-16 flex items-center py-12">
        <div class="container mx-auto text-center">
          <p>&copy; 2024 Growth Circle. All rights reserved.</p>
          <div class="space-x-4 mt-2">
            <a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a>
            <a href="#" class="text-gray-400 hover:text-white">Terms of Service</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
